body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: roboto, sans-serif;
  background: #2486f0;
  color: white;
}
h1,
h4 {
  margin: 10px;
}
#container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#tooltip {
  position: absolute;
  text-align: center;
  opacity: 0;
  width: 200;
  height: auto;
  background: #c7defc;
  color: black;
  font-size: 1em;
  font-weight: 300;
  padding: 0.5em;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}
.tooltip-text {
  margin: 0;
}
.cell:hover {
  outline: 1px solid black;
}
